/*------------------------------------------PALETA DE COLORES-----------------------------------*/
/*--------------------------------------ESTILOS DE LA PAGINA------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
}

body {
  height: 100vh;
  width: 100vw;
}
body #contenedorPrincipal {
  height: 100%;
  width: 100%;
  background-color: #DBA8AC;
  display: flex;
  align-items: center;
  flex-flow: column;
  cursor: default;
}
body #contenedorPrincipal #titulo {
  display: flex;
  height: 90px;
  width: 320px;
  background-color: #531Cb3;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #DBA8AC;
  border-radius: 5px;
  letter-spacing: 2px;
}
body #contenedorPrincipal #contenedorSecudario {
  display: flex;
  margin-top: 80px;
  width: 100%;
  height: 80%;
}
body #contenedorPrincipal #contenedorSecudario #contenedorIngresos {
  display: flex;
  height: 100%;
  width: 50%;
  flex-flow: column;
  align-items: center;
}
body #contenedorPrincipal #contenedorSecudario #contenedorIngresos #campoTarea {
  width: 50%;
  height: 6%;
  padding: 5px;
  margin-top: 200px;
  border-color: #944BBB;
  outline: none;
}
body #contenedorPrincipal #contenedorSecudario #contenedorIngresos #btnAsignar {
  width: 15%;
  height: 5%;
  margin-top: 30px;
  margin-left: 336px;
  border-radius: 6px;
  border-color: #531Cb3;
  cursor: pointer;
}
body #contenedorPrincipal #contenedorSecudario #contenedorMostrar {
  display: flex;
  height: 100%;
  width: 50%;
  flex-flow: column;
  align-items: center;
}
body #contenedorPrincipal #contenedorSecudario #contenedorMostrar #titulito {
  margin-top: 20px;
  color: #531Cb3;
  letter-spacing: 2px;
  font-size: 25px;
}
body #contenedorPrincipal #contenedorSecudario #contenedorMostrar #llenar {
  display: flex;
  height: 80%;
  width: 80%;
  background-color: #AA7BC3;
  margin-top: 40px;
}
body #contenedorPrincipal #contenedorSecudario #contenedorMostrar #llenar #listado {
  margin-left: 30px;
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
