/*------------------------------------------PALETA DE COLORES-----------------------------------*/
$purple: #531Cb3;
$purplePlum: #944BBB;
$africanViolet: #AA7BC3;
$orchidCrayola: #CC92C2;
$pastelPink: #DBA8AC;

/*--------------------------------------ESTILOS DE LA PAGINA------------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}

body{
    height: 100vh;
    width: 100vw;
    #contenedorPrincipal{
        height: 100%;
        width: 100%;
        background-color: $pastelPink;
        display: flex;
        align-items: center;
        flex-flow: column;
        cursor: default;
        #titulo{
            display: flex;
            height: 90px;
            width: 320px;
            background-color: $purple;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            color: $pastelPink;
            border-radius: 5px;
            letter-spacing: 2px;
        }
        #contenedorSecudario{
            display: flex;
            margin-top: 80px;
            width: 100%;
            height: 80%;
            #contenedorIngresos{
                display: flex;
                height: 100%;
                width: 50%;
                flex-flow: column;
                align-items: center;
                #campoTarea{
                    width: 50%;
                    height: 6%;
                    padding: 5px;
                    margin-top: 200px;
                    border-color: $purplePlum;
                    outline: none;
                }
                #btnAsignar{
                    width: 15%;
                    height: 5%;
                    margin-top: 30px;
                    margin-left: 336px;
                    border-radius: 6px;
                    border-color: $purple;
                    cursor: pointer;
                }

            }
            #contenedorMostrar{
                display: flex;
                height: 100%;
                width: 50%;
                flex-flow: column;
                align-items: center;
                #titulito{
                    margin-top: 20px;
                    color: $purple;
                    letter-spacing: 2px;
                    font-size: 25px;
                }
                #llenar{
                    display: flex;
                    height: 80%;
                    width: 80%;
                    background-color: $africanViolet;
                    margin-top: 40px;
                    #listado{
                        margin-left: 30px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}